:root {
    --color--primary:#bd1c26;
    --color--muted:#f5d595;
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    height: 100vh;
    background: #f9f6fc;
    color: #2e2c2f;
    font-family: sans-serif;
}

.blob, .orbit {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.blob {
    width: 85vw;
    max-width: 550px;
}

@keyframes spin {
    100% {
        rotate: 1turn;
    }
}

.orbit {
    width: 95vw;
    max-width: 720px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    animation: spin 50s infinite linear;
}

.orbit::before,
.orbit::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    left:-9px;
    border-radius: inherit;
    background: var(--color--muted);
}

.orbit::before {
    top: 50%;
    width: 18px;
    left: -9px;
}

.orbit::after {
    top: 50%;
    right: -12px;
}

.login {
    position: relative;
    z-index: 2;
    background: #ffffff;
    border-radius: 24px;
    padding: 72px 32px 48px;
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 2;
}

.login img {
    margin:  0 0 32px;
}

.login :is(h2,h3) {
    font-weight: 500;
}

.login h2 {
    font-size: 18px;
    margin: 0 0 16px;
}

.login h3 {
    color: var(--color--muted);
    font-size: 18px;
    margin: 0 0 32px;
}

.login form {
    display: grid;
    gap: 12px;
    width: 100%;
    margin: 0 0 20px;
}

.login :is(input,button) {
    height: 52px;
    font-family: inherit;
    font-size: 15px;
    padding: 0 12px;
    border-radius: 8px;
}

.login .textbox {
    position: relative;
}

label, 
input {
    transition: 0.3s;
}

.textbox label {
    position: absolute;
    top: 50%;
    left: 15px;
    translate: 0 -50%;
    transform-origin: 0 50%;
    pointer-events: none;
    color: var(--color--muted);
}

.textbox input {
    width: 100%;
    padding-top: 10px;
    background: #f4f1f7;
    outline: none;
    color: inherit;
    box-shadow: 0 0 0 2px transparent;
}

.textbox input:focus {
    box-shadow: 0 0 0 2px var(--color--primary);
}

.textbox
input:is(:focus,:not(:invalid)) ~ label {
    scale: 0.725;
    translate: 0 -112%;
} 

.login button {
    color: #f9f9f9;
    background: var(--color--primary);
}

.login a {
    font-size: 14px;
    color: var(--color--primary);
}

.login p {
    margin: 48px 0 0;
    font-size: 14px;
    color: var(--color--muted);
}

button:hover {
    cursor: pointer;
    transition: all 0.2s;
    transform: translateY(-3px);
    box-shadow: 0px 3px 6px rgba(250,242, 242, 0.089);
}

@media (max-width: 768px) {
    .login {
        width: 90%;
        padding: 48px 16px 32px;
    }

    .login h2, .login h3 {
        font-size: 16px;
    }

    .login :is(input,button) {
        height: 48px;
        font-size: 14px;
    }

    .login p {
        margin: 32px 0 0;
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .login {
        width: 100%;
        padding: 32px 8px 24px;
    }

    .login h2, .login h3 {
        font-size: 14px;
    }

    .login :is(input,button) {
        height: 44px;
        font-size: 13px;
    }

    .login p {
        margin: 24px 0 0;
        font-size: 10px;
    }
}